@use "@/styles/settings/breakpoint" as *;

.DashboardCellUser-wrape {
    display: flex;
    column-gap: var(--base-size-12);
}

.DashboardCellUser-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.4375rem;
    height: 2.4375rem;

    text-transform: uppercase;
    color: var(--color-zero);

    background-color: var(--color-primary);

    border-radius: 50%;
}

.DashboardCellUser-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $breakpoint-xl) {
        text-align: start;
    }
}

.DashboardCellUser-name {
    text-transform: capitalize;
}

