@use "@/styles/settings/breakpoint" as *;
@use "./components/HeadingSearchBar";
@use "./components/HeadingToggleLanguage";

.Heading {
    display: flex;
    justify-content: space-between;

    &--button {
        justify-content: initial;
        column-gap: var(--base-size-12);

        margin-block-start: var(--base-size-20);

        @media screen and (min-width: $breakpoint-xl) {
            justify-content: flex-end;

            margin-block-start: var(--base-size-16);
        }
    }

    &--filter {
        margin-block-start: var(--base-size-28);

        @media screen and (min-width: $breakpoint-xl) {
            display: none;
        }
    }
}

.Heading-containerButton {
    display: flex;
    column-gap: var(--base-size-12);
}

.Heading-details {
    position: relative;
}

.Heading-button {
    flex: 1 1 0;

    @media screen and (min-width: $breakpoint-xl) {
        flex: 0 1 0;
    }
}

.Heading-row {
    display: flex;
    align-items: center;

    &--selectAll {
        column-gap: var(--base-size-8);
    }

    &--filter {
        column-gap: var(--base-size-12);
    }
}
