.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--base-size-12);

    font-family: inherit;
    font-size: var(--size-sm);
    font-weight: var(--text-weight-semibold);
    line-height: 1.5;
    color: var(--color-third);

    padding-inline: var(--base-size-12);

    border: var(--borderWidth-sm) solid var(--color-zero-dark);
    border-radius: 10px;

    &--primary {
        color: var(--color-zero);

        background-color: var(--color-primary);

        border: 0;
    }
    &--text {
        & .Typography {
            display: none;
        }

        @media screen and (min-width: 75rem) {
            & .Typography {
                display: inline;
            }
        }
    }

    &--w-max-h-md {
        width: max-content;
        height: var(--base-size-48);

        @media screen and (min-width: 75rem) {
            height: max-content;

            padding: var(--base-size-16) var(--base-size-12);
        }
    }
}

