.Heading {
    display: flex;
    justify-content: space-between;

    &--button {
        justify-content: initial;
        column-gap: var(--base-size-12);

        margin-block-start: var(--base-size-20);
    }

    &--filter {
        margin-block-start: var(--base-size-28);
    }

    @media screen and (min-width: 75rem) {
        &--button {
            justify-content: flex-end;

            margin-block-start: var(--base-size-16);
        }

        &--filter {
            display: none;
        }
    }
}

.Heading-containerButton {
    display: flex;
    column-gap: var(--base-size-12);
}

.Heading-containerLanguage {
    position: relative;
}

.Heading-languageModal {
    &.Button {
        position: absolute;

        flex-direction: column;
        align-items: stretch;

        width: 100%;

        padding: 0;
        margin-top: var(--base-size-10);

        background-color: var(--color-zero-light);
    }
}

.Heading-Link {
    &.Typography {
        text-align: center;

        padding-block: var(--base-size-4);

        &:hover {
            color: var(--color-primary);
            background-color: var(--color-second);

            &:nth-child(1) {
                border-radius: 10px 10px 0 0;
            }

            &:nth-last-child(1) {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

.Heading-button {
    flex: 1 1 0;

    @media screen and (min-width: 75rem) {
        flex: 0 1 0;
    }
}

.Heading-row {
    display: flex;
    align-items: center;

    &--selectAll {
        column-gap: var(--base-size-8);
    }

    &--filter {
        column-gap: var(--base-size-12);
    }
}
