.Heading-modal {
    &.Button {
        position: absolute;

        flex-direction: column;
        align-items: stretch;

        width: 100%;

        padding: 0;
        margin-top: var(--base-size-10);

        background-color: var(--color-zero-light);
    }
}

.Heading-item {
    text-align: center;

    padding-block: var(--base-size-4);

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-second);

        &:nth-child(1) {
            border-radius: 10px 10px 0 0;
        }

        &:nth-last-child(1) {
            border-radius: 0 0 10px 10px;
        }
    }
}

