.Main-home {
    padding-inline: var(--base-size-24);

    margin-block-start: var(--base-size-48);

    @media screen and (min-width: 75rem) {
        padding-inline: var(--base-size-28);
    }
}
