:root {
    --color-negative: #1b2128;

    --color-zero: #ffffff;
    --color-zero-dark: #e4e4e4;
    --color-zero-light: #f9fafc;
    --color-primary: #7839cd;
    --color-second: #e7d4ff;
    --color-second-light: #f4eefb;

    --color-third: #534d59;
    --color-fourth: #959595;
}
