.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Login-wrap {
    gap: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 24rem;
}

.Login-listForm {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.Login-itemForm {
    display: flex;
    flex-direction: column;
}

.Login-button {
    align-self: flex-start;

    width: 4rem;
    height: 2rem;
    background-color: var(--blue);

    border-radius: 0.5rem;
}
